@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

#area{
    width: 200px;
    height: 200px;
    font-size:20px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}